# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
backup
logs
reference
src.zip
**/__pycache__/
*.pyc

# Files from Forge MDK
forge*changelog.txt
